
.content {
    background-color: #f9f9f9;
    .top{position: fixed;width:103px;height:84px;right: 20px;bottom:30px;z-index: 99999;
        img{width:100%;height: 100%;}
    }
    section.picbanner {
        font-size: 0;
        .left{
                width:616px;height: 500px;position: relative;display: inline-block;
            .pic{
                    width:616px;height: 500px;position: absolute;top:0;z-index: 1;
                    img{width:100%;height:100%}
                }
            .bf{
                    position: absolute;font-size:40px;z-index: 2;top: 38%;left: 50%;color:#fff;transform: translate(-50%,-50%);
                }
            .tit{
                width:100%;height:113px;background: rgba(0,0,0,0.3);position: absolute;bottom:0;padding:25px;z-index: 2;
                p{
                    &{font-size: 12px;color: #afafaf;}
                    span{color:#ff4B3A;}
                 }
                h1{font-size: 20px;margin:0;
                    a{color:#fff;}}
                }
                
            }
       
        .right{
            width:584px;height: 500px;display: inline-block;
            .img{
                width:288px;height:248px;float:left;
                &:nth-child(1){margin: 0 4px 4px 4px;}
                &:nth-child(2){margin: 0 0 4px 0;}
                &:nth-child(3){margin: 0 4px 0 4px;}
                img{width:100%;height: 100%;}
            }
           
        }
    }
    section{
        .tit{
            h2{font-size: 22px;color: #404040;display: inline-block;}
            a.more{font-size: 14px;color: #404040;cursor:pointer;margin-top: 20px;margin-bottom: 10px;display: inline-block;float: right;}
            .hr{
                position: relative;
                hr{position:absolute;margin:0;display: inline-block;}
            }
        }
    }
    section.new{
        
        ul.newlist{
            li{padding:20px 0;border-bottom: 1px solid rgba(229,229,229,1);cursor: pointer;
                .img{
                    width:270px;height:200px;display: inline-block;margin-right: 20px;
                    img{width:100%;height:100%}
                }
                .sp{position: relative;
                       .bf{ position: absolute;font-size:40px;z-index: 2;top: 50%;left: 50%;color:#fff;transform: translate(-50%,-50%);}
                    }
                .wb{
                    width:900px;display: inline-block;
                    h2{font-size: 24px;color: #2e2e2e;margin-top:10px;}
                    p{font-size: 14px;color: #a2a2a2;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
                    .bz{color: #2e2e2e;margin-top: 90px;
                        .left{display: inline-block;
                            .author{display: inline-block;font-size: 14px; color:#b7b7b7;}
                            .time{display: inline-block;font-size: 14px; color:#b7b7b7;}
                        }
                        ul.right{display: inline-block;float:right;
                            li{padding:0;font-size: 14px; color:#b7b7b7;border:none;
                                span{vertical-align: sub;line-height:0;font-size: 22px;margin: 0 10px 0 20px;}
                            }
                        }
                    }
                }
            }
        }
    }
    section.exclusive{
        ul.exclist{margin:30px 0 0 0;;
            li{ padding-left: 0; padding-right: 0;
                .con{width:386px;height: 446px;background-color: #fff;border:1px solid rgba(225,226,228,0.1);
                    &:hover{box-shadow:0 9px 10px rgba(0,0,0,0.1) ;cursor: pointer;}
                    .img{width:386px;height: 328px;
                        img{width:100%;height:100%}
                    }
                    .sp{position: relative;
                        .bf{ position: absolute;font-size:40px;z-index: 2;top: 50%;left: 50%;color:#fff;transform: translate(-50%,-50%);}
                    }
                    .wb{width:93%;margin: 0 auto;
                        h2{overflow:hidden;text-overflow: ellipsis;white-space: nowrap; margin: 30px 0 20px 0;font-size: 20px;color: #2e2e2e;}
                        .bz{ width:100%;
                            .left{display: inline-block;
                                .author{display: inline-block;font-size: 12px; color:#b7b7b7;}
                                .time{display: inline-block;font-size: 12px; color:#b7b7b7;}
                            }
                            ul.right{display: inline-block;float:right;
                                li{padding:0;font-size: 12px; color:#b7b7b7;
                                    span{vertical-align: initial;font-size: 14px;margin: 0 6px 0 14px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    section.popular{
        ul.poplist{margin-top:20px ;
            li{margin-bottom:20px; padding-left: 0; padding-right: 0;
//              &:nth-child(1){margin-right: 20px;}
//              &:nth-child(3){margin-right: 20px;}
                .con{width:590px;height: 200px;background-color: #fff;position: relative;border:1px solid rgba(225,226,228,0.1);
                    &:hover{box-shadow:0 6px 10px rgba(0,0,0,0.1);cursor: pointer;
                        .triangle{border-top:29px solid #95D3E2}
                        .gz{display: block}
                    }
                    
                    .triangle{width: 0; height: 0; border-top: 29px solid #E1E2E4; border-right: 29px solid transparent;position:absolute;}
                    .gz{position:  absolute;top:20px;right:16px;display: none;
                        a{font-size: 16px;color: #fff;background-color: #ea6457;padding:8px 49px;border-radius: 18px;}
                    }
                    .infor{display: inline-block;margin:43.5px 0 0 20px ;
                        .img{width:113px;height: 113px;    display: inline-block;border:1px solid rgba(227,227,227,1);border-radius: 50%;padding:3px;
                            img{width:100%;height: 100%;}
                        }
                    }
                    ul.wb{display: inline-block;margin-left: 20px;
                        li{float:none;
                        
                            &:nth-child(1){margin-top:10px;margin-bottom: 30px;}
                            h2{font-size:20px;color:#404040;display: inline-block;margin: 0;}
                            ul.rank{display: inline-block;margin-top: 5px;margin-left: 10px;
                                li{float: left;display: inline-block;width:15px;height: 15px;margin:0 3px;    line-height: 0;
                                    img{width:100%;height: 100%;}
                                }
                            }
                            p{font-size: 14px;color: #a2a2a2;}
                        }
                    }
                    
                }
            }
        }
    }
}
